
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Lato')
}


 .styleSection {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/artwork-archive/image/upload/t_jpg_large/v1/user_4446/JillMcLean_BeyondAllDoubt_OilCanvas_43x36_2014_yxcbjr');
}

.carousel-caption {
  position: absolute;
  z-index: 1;
  display:table;
  width:100%;
  height:100%;
}

.absolute-div {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h3 {
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}

.item {
  position:relative;
}

/* .appComponent {
  display: flex;
} */


.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}


.dropbtn {
  background-color:#f9f9f9;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#f1f1f1;
}


